:host {
  background-color: #303030;
  color: #fff;
  display: block;
  min-height: 100%;
}

mat-sidenav {
  width: 15vw;
}

mat-sidenav-content {
  height: 100vh;
}

.org-title {
  color: aliceblue;
  text-decoration: none;
}

.app {
  margin: 30px;
}

.leitus {
  color: #303030;
}
