:host {
  background-color: #303030;
  color: #fff;
  display: block;
  min-height: 100%;
}

mat-toolbar {
  max-width: 100%;
}

mat-sidenav {
  min-width: 100px;
  width: 15%;
}

// the toolbar is 64px tall. i dont like this but its a quick fix
mat-sidenav-content {
  height: calc(100vh - 64px) !important;
}

.org-title {
  color: aliceblue;
  text-decoration: none;
}

.app {
  margin: 30px;
}

// will still show on browsers with dark mode forced
.leitus {
  color: #303030;
}
