<ng-container>
  <mat-toolbar>
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a routerLink="/" class="org-title">
      <span>Tracker</span>
    </a>

    <div fxShow="true" fxHide.lt-md="true">
      <button routerLink="/project" type="button" mat-button i18n>
        Projects
      </button>
    </div>

    <div *ngIf="isAdmin">
      <button type="button" mat-button [matMenuTriggerFor]="admin">
        Admin
      </button>

      <mat-menu #admin="matMenu">
        <button mat-menu-item routerLink="/admin/user">
          <span i18n>Users</span>
        </button>
      </mat-menu>
    </div>

    <span class="flex-span"> </span>

    <div fxShow="true" fxHide.lt-md="true">
      <button mat-button routerLink="/account" i18n>User</button>

      <button mat-button routerLink="/login" (click)="logout()" i18n>
        Logout
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav
      #sidenav
      color="primary"
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
      <div fxLayout="column">
        <button
          mat-button
          routerLink="/project"
          type="button"
          (click)="sidenav.close()"
          i18n
        >
          Projects
        </button>
        <button mat-button routerLink="/account" (click)="sidenav.close()" i18n>
          User
        </button>
        <button mat-button routerLink="/login" (click)="logout()" i18n>
          Logout
        </button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <div class="app">
        <router-outlet></router-outlet>

        <br />
        <footer>
          <p class="leitus">leitus</p>
        </footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
