<ng-container>
  <div *ngIf="false">
    <mat-sidenav-container>
      <mat-sidenav
        #sidenav
        mode="side"
        opened
        [fixedInViewport]="options.value.fixed"
        [fixedTopGap]="options.value.top"
        [fixedBottomGap]="options.value.bottom"
      >
        <!--sidenav content goes here-->
      </mat-sidenav>

      <mat-sidenav-content>
        <mat-toolbar>
          <a routerLink="/" class="org-title">
            <span>Tracker</span>
          </a>

          <button routerLink="/project" type="button" mat-button>
            Projects
          </button>

          <div *ngIf="isAdmin">
            <button type="button" mat-button [matMenuTriggerFor]="admin">
              Admin
            </button>

            <mat-menu #admin="matMenu">
              <button mat-menu-item routerLink="/admin/user">
                <span>Users</span>
              </button>
            </mat-menu>
          </div>

          <span class="flex-span"> </span>

          <button mat-button routerLink="/account">User</button>

          <button mat-button routerLink="/login" (click)="logout()">
            Logout
          </button>
        </mat-toolbar>

        <router-outlet></router-outlet>

        <br />
        <footer>
          <p>leitus</p>
        </footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <div>
    <mat-toolbar>
      <a routerLink="/" class="org-title">
        <span>Tracker</span>
      </a>

      <button routerLink="/project" type="button" mat-button>Projects</button>

      <div *ngIf="isAdmin">
        <button type="button" mat-button [matMenuTriggerFor]="admin">
          Admin
        </button>

        <mat-menu #admin="matMenu">
          <button mat-menu-item routerLink="/admin/user">
            <span>Users</span>
          </button>
        </mat-menu>
      </div>

      <span class="flex-span"> </span>

      <button mat-button routerLink="/account">User</button>

      <button mat-button routerLink="/login" (click)="logout()">Logout</button>
    </mat-toolbar>

    <div class="app">
      <router-outlet></router-outlet>

      <br />
      <footer>
        <p class="leitus">leitus</p>
      </footer>
    </div>
  </div>
</ng-container>
