<div>
  <h2>{{ edit ? "Edit " + ticket.title : "New Ticket" }}</h2>
  <div>
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="ticket.title" name="title" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="ticket.description" name="description" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Priority</mat-label>
        <mat-select [(ngModel)]="ticket.priority" [(value)]="ticket.priority">
          <mat-option
            [value]="number"
            *ngFor="let number of [1, 2, 3, 4, 5]"
            [(ngModel)]="ticket.priority"
            name="priority"
            ngDefaultControl
            >{{ number }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Type</mat-label>
        <mat-select [(value)]="ticket.type">
          <mat-option
            [value]="type"
            *ngFor="let type of ['issue', 'feature request']"
            [(ngModel)]="ticket.type"
            name="type"
            ngDefaultControl
            >{{ type }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Assignee</mat-label>
        <input matInput [(ngModel)]="ticket.assigneeId" name="assignee" />
      </mat-form-field>
    </p>
  </div>
</div>

<div style="display: flex; flex-direction: column; align-items: flex-start">
  <button
    type="button"
    mat-raised-button
    style="margin: 10px"
    (click)="onSubmit()"
  >
    {{ edit ? "Update" : "Create" }}
  </button>

  <button
    type="button"
    (click)="goBack()"
    mat-stroked-button
    style="margin: 10px"
  >
    Back
  </button>
</div>
