<div>
  <h2>{{ edit ? "Edit " + ticket.title : "New Ticket" }}</h2>
  <div>
    <p>
      <mat-form-field class="title" appearance="fill" floatLabel="always">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="ticket.title" name="title" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="description" appearance="fill" floatLabel="always">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="10"
          placeholder=":3"
          [(ngModel)]="ticket.description"
          name="description"
        ></textarea>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Priority</mat-label>
        <mat-select [(ngModel)]="ticket.priority" [(value)]="ticket.priority">
          <mat-option
            [value]="number"
            *ngFor="let number of [1, 2, 3, 4, 5]"
            [(ngModel)]="ticket.priority"
            name="priority"
            ngDefaultControl
            >{{ number }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Type</mat-label>
        <mat-select [(value)]="ticket.type">
          <mat-option
            [value]="type"
            *ngFor="let type of ['issue', 'feature request']"
            [(ngModel)]="ticket.type"
            name="type"
            ngDefaultControl
            >{{ type }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </p>
    <p *ngIf="users">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Assignee</mat-label>
        <input
          type="text"
          placeholder="Assignee"
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="ticket.assigneeId"
          (ngModelChange)="filter($event)"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn.bind(this)"
        >
          <mat-option *ngFor="let user of filteredUsers" [value]="user.id">
            {{ user.username }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>
  </div>
</div>

<div style="display: flex; flex-direction: column; align-items: flex-start">
  <button type="button" mat-raised-button (click)="onSubmit()">
    {{ edit ? "Update" : "Create" }}
  </button>

  <button type="button" (click)="goBack()" mat-stroked-button>Back</button>
</div>
