<div *ngIf="isAdmin && user" class="flex">
  <h1>{{ user.username }}</h1>

  <dl>
    <dt>Id</dt>
    <dd>{{ user.id }}</dd>
    <div *ngIf="path === 'tracker' && userOrganizations">
      <dt>Organizations</dt>
      <dd *ngFor="let organization of userOrganizations">
        {{ organization.name }}
      </dd>
    </div>
    <dt>Username</dt>
    <dd>{{ user.username }}</dd>
    <dt>Email</dt>
    <dd>{{ user.email }}</dd>
    <div *ngIf="user.firstName && user.lastName">
      <dt>Name</dt>
      <dd>
        {{ user.firstName + " " + user.lastName }}
      </dd>
    </div>
    <div *ngIf="user.phoneNumber">
      <dt>Phone number</dt>
      <dd>{{ user.phoneNumber }}</dd>
    </div>
    <dt>Roles</dt>
    <dd *ngFor="let role of roles">{{ role }}</dd>
    <dt>Date created</dt>
    <dd>{{ user.created + "Z" | date : "medium" }}</dd>
  </dl>

  <div>
    <button
      mat-raised-button
      color="accent"
      routerLink="{{
        path === 'tracker'
          ? '/tracker/user/edit/' + user.id
          : '/admin/user/edit/' + user.id
      }}"
    >
      Edit
    </button>

    <button
      *ngIf="isAdmin && path === 'tracker'"
      mat-raised-button
      color="delete"
      (click)="deleteUser()"
    >
      Delete
    </button>

    <button
      *ngIf="isAdmin && path != 'tracker'"
      mat-raised-button
      color="delete"
      (click)="removeUser()"
    >
      Remove from organization
    </button>
  </div>

  <div>
    <button mat-stroked-button (click)="goBack()">Return</button>
  </div>
</div>
