<div *ngIf="user" class="flex">
  <h2>Account</h2>
  <dt>Id</dt>
  <dd>{{ user.id }}</dd>
  <dt>Registered</dt>
  <dd>{{ user.created + "Z" | date : "MMM d, y, HH:mm" }}</dd>
  <dt>Email</dt>
  <dd>
    {{ user.email }}
  </dd>
  <dt>Username</dt>
  <dd>
    {{ user.username }}
  </dd>
  <div *ngIf="user.firstName && user.lastName">
    <dt>Name</dt>
    <dd>
      {{ user.firstName + " " + user.lastName }}
    </dd>
  </div>
  <div *ngIf="user.phoneNumber">
    <dt>Phone number</dt>
    <dd>{{ user.phoneNumber }}</dd>
  </div>
  <dt>Organization</dt>
  <dd>{{ organizationName }}</dd>
  <dt>Organization Id</dt>
  <dd>{{ claims[authService.organizationIdClaim] }}</dd>
  <dt>Roles</dt>
  <dd>
    {{ claims[authService.rolesClaim] }}
  </dd>

  <button type="button" mat-raised-button routerLink="/account/update">
    Edit user details
  </button>

  <button
    *ngIf="canSwitch"
    type="button"
    mat-raised-button
    routerLink="/account/organizations"
  >
    Switch Organization
  </button>

  <div class="reset-password">
    <p>
      This action will remove your current password and log you out immediately.
    </p>
    <button
      type="button"
      color="delete"
      mat-raised-button
      (click)="resetPassword()"
    >
      Reset password
    </button>
  </div>
</div>
