<div class="flex">
  <h2>Claims</h2>
  <dt>User</dt>
  <dd>{{ claims[authService.userIdClaim] }}</dd>
  <dt>Organization</dt>
  <dd>{{ organizationName }}</dd>
  <dt>Organization Id</dt>
  <dd>{{ claims[authService.organizationIdClaim] }}</dd>
  <dt>Email</dt>
  <dd>
    {{ claims[authService.emailClaim] }}
  </dd>
  <dt>Username</dt>
  <dd>
    {{ claims[authService.nameIdentifierClaim] }}
  </dd>
  <dt>Roles</dt>
  <dd>
    {{ claims[authService.rolesClaim] }}
  </dd>

  <div class="reset-password">
    <p>
      This action will remove your current password and log you out immediately.
    </p>
    <button
      type="button"
      color="delete"
      mat-raised-button
      (click)="resetPassword()"
      routerLink="/login"
    >
      Reset password
    </button>
  </div>
</div>
