<div>
  <h1 i18n>Users</h1>
  <br />

  <mat-card class="card-container">
    <div class="table-container">
      <button
        *ngIf="path === 'tracker'"
        mat-raised-button
        color="primary"
        class="new-button"
        routerLink="{{
          path === 'tracker' ? '/tracker/user/create' : '/admin/user/create'
        }}"
        i18n>
        New User +
      </button>

      <span class="flex-span"></span>

      <mat-form-field class="search-box">
        <mat-label>Search</mat-label>
        <input
          matInput
          name="search"
          autocomplete="off"
          (keydown.enter)="filter($event)"
          #input
        />
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <table
      mat-table
      [dataSource]="dataSource"
      *ngIf="users"
      matSort
      matSortStart="desc"
      (matSortChange)="customSort($event)"
    >
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user">
          {{ user.username }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef [hidden]="hideEmail">Email</th>
        <td mat-cell *matCellDef="let user" [hidden]="hideEmail">
          {{ user.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef [hidden]="hideName" i18n>
          First name
        </th>
        <td mat-cell *matCellDef="let user" [hidden]="hideName">
          {{ user.firstName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef [hidden]="hideName" i18n>Last name</th>
        <td mat-cell *matCellDef="let user" [hidden]="hideName">
          {{ user.lastName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Created</th>
        <td mat-cell *matCellDef="let user">
          {{ user.created + "Z" | date : "MMM d, y, HH:mm" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" i18n></tr>
      <tr
        mat-row
        *matRowDef="let user; columns: displayedColumns"
        routerLink="{{ getDetailsUrl(user.id) }}"
      ></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [colSpan]="displayedColumns.length" i18n>
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="totalRows"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 25, 50]"
    ></mat-paginator>
  </mat-card>
</div>
