<div>
  <h1>Users</h1>
  <br />

  <mat-card class="card-container">
    <div class="table-container">
      <button
        *ngIf="path === 'tracker'"
        mat-raised-button
        color="primary"
        class="new-button"
        routerLink="{{
          path === 'tracker' ? '/tracker/user/create' : '/admin/user/create'
        }}"
      >
        New User +
      </button>

      <span class="flex-span"></span>

      <mat-form-field class="search-box">
        <mat-label>Search</mat-label>
        <input
          matInput
          name="search"
          autocomplete="off"
          (keyup)="filter($event, dataSource)"
          #input
        />
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <table mat-table [dataSource]="dataSource" *ngIf="users" matSort>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user">
          {{ user.username }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef [hidden]="hideEmail">Email</th>
        <td mat-cell *matCellDef="let user" [hidden]="hideEmail">
          {{ user.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef [hidden]="hideName">
          First name
        </th>
        <td mat-cell *matCellDef="let user" [hidden]="hideName">
          {{ user.firstName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef [hidden]="hideName">Last name</th>
        <td mat-cell *matCellDef="let user" [hidden]="hideName">
          {{ user.lastName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
        <td mat-cell *matCellDef="let user">
          {{ user.created + "Z" | date: "MMM d, y, HH:mm" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let user; columns: displayedColumns"
        routerLink="{{ getDetailsUrl(user.id) }}"
      ></tr>
    </table>
  </mat-card>
</div>
