<div>
  <h1>Users</h1>
  <br />

  <mat-card class="card-container">
    <div class="table-container">
      <button
        mat-raised-button
        color="primary"
        routerLink="{{
          path === 'tracker' ? '/tracker/user/create' : '/admin/user/create'
        }}"
      >
        New User +
      </button>

      <span class="flex-span"></span>

      <mat-form-field>
        <mat-label>Search</mat-label>
        <input
          matInput
          name="search"
          autocomplete="off"
          (keyup)="filter($event, dataSource)"
          #input
        />
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <table mat-table [dataSource]="dataSource" *ngIf="users" matSort>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user">
          {{ user.username }}
        </td>
      </ng-container>

      <mat-text-column name="email"></mat-text-column>
      <mat-text-column name="firstName"></mat-text-column>
      <mat-text-column name="lastName"></mat-text-column>

      <ng-container
        matColumnDef="organization"
        *ngIf="path === 'tracker' && organizations"
      >
        <th mat-header-cell *matHeaderCellDef>Organization</th>
        <td mat-cell *matCellDef="let user">
          {{ getOrganizationName(user.organizationId) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
        <td mat-cell *matCellDef="let user">
          {{ user.created + "Z" | date: "MMM d, y, HH:mm" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let user; columns: displayedColumns"
        routerLink="{{ getDetailsUrl(user.id) }}"
      ></tr>
    </table>
  </mat-card>
</div>
