.status-buttons {
  display: flex;
}

.closed-button {
  min-width: 75.33px;
}

.status-buttons-mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.spacer-mobile {
  flex: auto 1 1;
}

.search-box-mobile {
  width: 50%;
}

// table

.mat-row.urgent {
  background-color: rgba(138, 62, 0, 0.5);
}

.mat-row.critical {
  background-color: rgba(136, 0, 0, 0.5);
}

.mat-row.urgent:hover {
  background-color: rgba(138, 90, 60, 0.5);
}

.mat-row.critical:hover {
  background-color: rgba(136, 60, 60, 0.5);
}

@media (min-width: 600px) {
  .mat-column-id {
    width: 2rem;
    border-right: 1px solid currentColor;
    padding-right: 1.5rem;
    text-align: center;
  }

  .mat-column-title {
    padding-left: 1rem;
  }
}

@media (max-width: 600px) {
  .mat-column-title {
    max-width: 100px;
    padding-left: 1rem;
  }

  .mat-column-id {
    width: 1rem;
    max-width: 40px;
    border-right: 1px solid currentColor;
    text-align: left;
  }
}

.truncate {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// card

.ticket-card {
  margin: 10px;
  width: 100%;
}

.ticket-card.urgent {
  background-color: rgba(138, 62, 0, 0.5);
}

.ticket-card.critical {
  background-color: rgba(136, 0, 0, 0.5);
}

.ticket-card.urgent:hover {
  background-color: rgba(138, 90, 60, 0.5);
}

.ticket-card.critical:hover {
  background-color: rgba(136, 60, 60, 0.5);
}

.ticket-card:hover {
  background-color: grey;
  cursor: pointer;
}

.description {
  max-width: 400px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
}
