<div *ngIf="project">
  <h1>{{ project.name }}</h1>
  <div>
    <button mat-stroked-button (click)="goBack()">Return to Project</button>
    <button
      *ngIf="canCreate"
      mat-raised-button
      color="primary"
      routerLink="/project/{{ project.id }}/ticket/create"
    >
      New Ticket +
    </button>
  </div>

  <div style="display: flex">
    <button mat-raised-button (click)="showStatus('open')">Open</button>
    <button mat-raised-button (click)="showStatus('closed')">Closed</button>
    <button mat-raised-button (click)="showStatus('')">All</button>

    <span style="flex: 1 1 auto"> </span>

    <mat-form-field>
      <mat-label>Search</mat-label>
      <input
        matInput
        name="search"
        autocomplete="off"
        (keyup)="filter($event, dataSource)"
        #input
      />
    </mat-form-field>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    *ngIf="project && tickets && users"
  >
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let ticket">
        <button
          mat-stroked-button
          routerLink="/project/{{ project.id }}/ticket/{{ ticket.id }}"
        >
          {{ ticket.title }}
        </button>
      </td>
    </ng-container>

    <mat-text-column name="description"></mat-text-column>
    <mat-text-column name="priority"></mat-text-column>
    <mat-text-column name="type"></mat-text-column>
    <mat-text-column name="status"></mat-text-column>

    <ng-contatiner matColumnDef="submitter">
      <th mat-header-cell *matHeaderCellDef>Submitter</th>
      <td mat-cell *matCellDef="let ticket">
        {{ getUsername(ticket.submitterId) }}
      </td>
    </ng-contatiner>

    <ng-contatiner matColumnDef="assignee">
      <th mat-header-cell *matHeaderCellDef>Assignee</th>
      <td mat-cell *matCellDef="let ticket">
        {{ getUsername(ticket.assigneeId) }}
      </td>
    </ng-contatiner>

    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef>Activity</th>
      <td mat-cell *matCellDef="let ticket">
        {{ ticket.activity ? (ticket.activity + "Z" | date: "medium") : "" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="closed">
      <th mat-header-cell *matHeaderCellDef [hidden]="!closed">Closed</th>
      <td mat-cell *matCellDef="let ticket" [hidden]="!closed">
        {{ ticket.closed ? (ticket.closed + "Z" | date: "medium") : "" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let ticket">
        {{ ticket.created + "Z" | date: "medium" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
