<div *ngIf="project">
  <h1>{{ project.name }}</h1>
  <div>
    <button mat-stroked-button (click)="goBack()">Return to Project</button>
    <button
      *ngIf="canCreate"
      mat-raised-button
      color="primary"
      routerLink="/project/{{ project.id }}/ticket/create"
    >
      New Ticket +
    </button>
  </div>

  <div style="display: flex">
    <button mat-raised-button (click)="showStatus('open')">Open</button>
    <button mat-raised-button (click)="showStatus('closed')">Closed</button>
    <button mat-raised-button (click)="showStatus('')">All</button>

    <span style="flex: 1 1 auto"> </span>

    <mat-form-field style="">
      <mat-label>Search</mat-label>
      <input
        matInput
        name="search"
        autocomplete="off"
        [(ngModel)]="search"
        (ngModelChange)="filter($event)"
      />
    </mat-form-field>
  </div>

  <hr />

  <table *ngIf="project && tickets && users">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Type</th>
        <th>Status</th>
        <th>Submitter</th>
        <th>Assignee</th>
        <th>Created</th>
        <th *ngIf="closed">Closed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of filteredTickets">
        <td>
          <button
            mat-stroked-button
            routerLink="/project/{{ project.id }}/ticket/{{ ticket.id }}"
          >
            {{ ticket.title }}
          </button>
        </td>
        <td>{{ ticket.description }}</td>
        <td>{{ ticket.priority }}</td>
        <td>{{ ticket.type }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ getUsername(ticket.submitterId) }}</td>
        <td>{{ getUsername(ticket.assigneeId) }}</td>
        <td>{{ ticket.created + "Z" | date: "medium" }}</td>
        <td *ngIf="closed && ticket.closed">
          {{ ticket.closed + "Z" | date: "medium" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
