<div *ngIf="project">
  <div class="flex-card">
    <app-project-detail [users]="users"></app-project-detail>

    <span class="flex-span"></span>

    <mat-slide-toggle
      color="primary"
      [(ngModel)]="cards"
      (click)="paginator.firstPage()"
      fxShow
      fxHide.lt-sm
      >Cards</mat-slide-toggle
    >
  </div>

  <mat-card class="card-container">
    <div>
      <div class="status-buttons" fxShow fxHide.lt-sm>
        <button mat-raised-button (click)="filterStatus('open')">Open</button>
        <button
          mat-raised-button
          class="closed-button"
          (click)="filterStatus('closed')"
        >
          Closed
        </button>
        <button mat-raised-button (click)="filterStatus('')">All</button>

        <button
          *ngIf="canCreate"
          mat-raised-button
          color="primary"
          class="new-button"
          routerLink="/project/{{ project.id }}/ticket/create"
        >
          New Ticket +
        </button>

        <span class="flex-span"> </span>

        <mat-form-field class="search-box">
          <mat-label>Search</mat-label>
          <input
            matInput
            name="search"
            [ngModel]="filterString"
            autocomplete="off"
            (keydown.enter)="filter($event)"
            #input
          />
        </mat-form-field>
      </div>
      <div *ngIf="cards" fxShow fxHide.lt-sm>
        <mat-paginator
          (page)="handlePageEvent($event)"
          [length]="totalRows"
          [pageSize]="pageSize"
          [pageSizeOptions]="[10, 25, 50]"
        ></mat-paginator>
      </div>
    </div>

    <div fxHide fxShow.lt-sm>
      <div>
        <button mat-raised-button (click)="filterStatus('open')">Open</button>
        <button
          mat-raised-button
          class="closed-button"
          (click)="filterStatus('closed')"
        >
          Closed
        </button>
        <button mat-raised-button (click)="filterStatus('')">All</button>
      </div>

      <div class="status-buttons">
        <button
          *ngIf="canCreate"
          mat-raised-button
          color="primary"
          class="new-button"
          routerLink="/project/{{ project.id }}/ticket/create"
        >
          New Ticket +
        </button>

        <span class="spacer-mobile"> </span>

        <mat-form-field class="search-box-mobile">
          <mat-label>Search</mat-label>
          <input
            matInput
            name="search"
            [ngModel]="filterString"
            autocomplete="off"
            (keydown.enter)="filter($event)"
            #input
          />
        </mat-form-field>
      </div>
      <div *ngIf="cards">
        <mat-paginator
          (page)="handlePageEvent($event)"
          [length]="totalRows"
          [pageSize]="pageSize"
          [pageSizeOptions]="[10, 25, 50]"
        ></mat-paginator>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="project && tickets && users">
      <mat-grid-list
        *ngIf="cards"
        [cols]="cardCols"
        rowHeight="40px"
        gutterSize="5px"
      >
        <mat-grid-tile
          *ngFor="let ticket of filteredTickets"
          colspan="1"
          rowspan="4"
        >
          <mat-card
            class="ticket-card"
            [ngClass]="getPriority(ticket.priority).toLowerCase()"
            routerLink="/project/{{ project.id }}/ticket/{{ ticket.id }}"
          >
            <mat-card-subtitle class="flex-card">
              {{ ticket.id }} - {{ ticket.type }}
              <span class="flex-span"></span>
              <div *ngIf="users">
                {{ getUsername(ticket.submitterId) }}
              </div>
            </mat-card-subtitle>

            <mat-card-title>{{ ticket.title }}</mat-card-title>

            <mat-card-content class="description">
              <p [innerText]="ticket.description"></p>
            </mat-card-content>

            <mat-divider inset></mat-divider>

            <mat-card-actions class="flex-card">
              {{
                ticket.closed
                  ? (ticket.closed + "Z" | date : "MMM d, y, HH:mm")
                  : (ticket.created + "Z" | date : "MMM d, y, HH:mm")
              }}
              <span class="flex-span"></span>
              {{ getPriority(ticket.priority) + " - " + ticket.status }}
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

      <div *ngIf="!cards">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          matSortStart="desc"
          (matSortChange)="customSort($event)"
        >
          <ng-contatiner matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let ticket">
              {{ ticket.id }}
            </td>
          </ng-contatiner>

          <ng-contatiner matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let ticket">
              {{ ticket.title }}
            </td>
          </ng-contatiner>

          <ng-contatiner matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef [hidden]="hideDescription">
              Description
            </th>
            <td
              mat-cell
              *matCellDef="let ticket"
              class="truncate"
              [hidden]="hideDescription"
            >
              {{ ticket.description }}
            </td>
          </ng-contatiner>

          <ng-contatiner matColumnDef="priority">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [hidden]="hidePriority"
            >
              Priority
            </th>
            <td mat-cell *matCellDef="let ticket" [hidden]="hidePriority">
              {{ getPriority(ticket.priority) }}
            </td>
          </ng-contatiner>

          <ng-contatiner matColumnDef="type">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [hidden]="hideType"
            >
              Type
            </th>
            <td mat-cell *matCellDef="let ticket" [hidden]="hideType">
              {{ ticket.type }}
            </td>
          </ng-contatiner>

          <ng-contatiner matColumnDef="status">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [hidden]="hideStatus"
            >
              Status
            </th>
            <td mat-cell *matCellDef="let ticket" [hidden]="hideStatus">
              {{ ticket.status }}
            </td>
          </ng-contatiner>

          <ng-contatiner matColumnDef="submitter">
            <th mat-header-cell *matHeaderCellDef [hidden]="hideSubmitter">
              Submitter
            </th>
            <td mat-cell *matCellDef="let ticket" [hidden]="hideSubmitter">
              {{ getUsername(ticket.submitterId) }}
            </td>
          </ng-contatiner>

          <ng-contatiner matColumnDef="assignee">
            <th mat-header-cell *matHeaderCellDef [hidden]="hideAssignee">
              Assignee
            </th>
            <td mat-cell *matCellDef="let ticket" [hidden]="hideAssignee">
              {{ getUsername(ticket.assigneeId) }}
            </td>
          </ng-contatiner>

          <ng-container matColumnDef="activity">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [hidden]="hideActivity"
            >
              Activity
            </th>
            <td mat-cell *matCellDef="let ticket" [hidden]="hideActivity">
              {{
                ticket.activity
                  ? (ticket.activity + "Z" | date : "MMM d, y, HH:mm")
                  : ""
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="closed">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [hidden]="status.toLowerCase() == 'open'"
            >
              Closed
            </th>
            <td
              mat-cell
              *matCellDef="let ticket"
              [hidden]="status.toLowerCase() == 'open'"
            >
              {{
                ticket.closed
                  ? (ticket.closed + "Z" | date : "MMM d, y, HH:mm")
                  : ""
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
            <td mat-cell *matCellDef="let ticket">
              {{ ticket.created + "Z" | date : "MMM d, y, HH:mm" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            class="row"
            *matRowDef="let ticket; columns: displayedColumns"
            [ngClass]="getPriority(ticket.priority).toLowerCase()"
            routerLink="/project/{{ project.id }}/ticket/{{ ticket.id }}"
          ></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [colSpan]="displayedColumns.length">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>
        <mat-paginator
          (page)="handlePageEvent($event)"
          [length]="totalRows"
          [pageSize]="pageSize"
          [pageSizeOptions]="[10, 25, 50]"
        ></mat-paginator>
      </div>
    </div>
  </mat-card>
</div>
