.description {
  width: 95%;
  white-space: normal;
  word-wrap: break-word;
}

.card-details {
  min-width: 200px;
  width: 40%;
}

.ticket-card.urgent {
  background-color: rgba(138, 62, 0, 0.5);
}

.ticket-card.critical {
  background-color: rgba(136, 0, 0, 0.5);
}

.edit-buttons {
  margin-top: 10px;
}

.card-actions {
  margin-top: 5px;
}

.card-actions-subtitle {
  margin-top: 10px !important;
}
