<div *ngIf="isAdmin">
  <div class="flex">
    <button type="button" mat-raised-button routerLink="./user/create" i18n>
      New user
    </button>

    <p i18n>Search user</p>

    <div *ngIf="users">
      <mat-form-field>
        <mat-label>User</mat-label>
        <input
          type="text"
          placeholder="User"
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="user"
          (ngModelChange)="filter($event)"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn.bind(this)"
        >
          <mat-option *ngFor="let user of filteredUsers" [value]="user">
            {{ user.username }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <button
      *ngIf="user"
      type="button"
      mat-raised-button
      routerLink="./user/{{ user.id }}"
      i18n>
      View user
    </button>
  </div>
</div>
