<h1>Projects</h1>
<br />
<button mat-raised-button routerLink="/project/create" color="primary">
  New Project +
</button>
<hr />
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>
        <button mat-stroked-button routerLink="/project/{{ project.id }}">
          {{ project.name }}
        </button>
      </td>
      <td>{{ project.description }}</td>
      <td>{{ project.created }}</td>
    </tr>
  </tbody>
</table>
