<div>
  <h1 i18n>Organizations</h1>
  <br />

  <mat-card class="card-container">
    <div class="table-container">
      <button
        mat-raised-button
        color="primary"
        routerLink="/tracker/organization/create"
        i18n>
        New Organization +
      </button>

      <span class="flex-span"></span>

      <mat-form-field>
        <mat-label i18n>Search</mat-label>
        <input
          matInput
          name="search"
          autocomplete="off"
          [ngModel]="filterString"
          (keydown.enter)="filter($event)"
          #input
        />
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <table
      mat-table
      [dataSource]="dataSource"
      *ngIf="organizations"
      matSort
      matSortStart="desc"
      (matSortChange)="customSort($event)"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let organization">
          {{ organization.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
        <td mat-cell *matCellDef="let organization">
          {{ organization.created + "Z" | date : "medium" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let organization; columns: displayedColumns"
        routerLink="/tracker/organization/{{ organization.id }}"
      ></tr>
    </table>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="totalRows"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 25, 50]"
    ></mat-paginator>
  </mat-card>
</div>
