<div>
  <h2>{{ edit ? "Edit " + project.name : "New Project" }}</h2>
  <div (keydown)="keydown($event, onSubmit)">
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="project.name" name="name" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="description" appearance="fill" floatLabel="always">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="10"
          placeholder=":3"
          [(ngModel)]="project.description"
          name="description"
        ></textarea>
      </mat-form-field>
    </p>
  </div>
</div>

<div class="flex">
  <button type="button" mat-raised-button (click)="onSubmit()">
    {{ edit ? "Update" : "Create" }}
  </button>

  <button type="button" (click)="goBack()" mat-stroked-button>
    Back to list
  </button>
</div>
