.mat-form-field {
  width: 100%;
}

.comments-title {
  margin-top: 20px;
  margin-left: 10px;
}

.comment-box {
  margin-left: 10px;
}

.comment-card {
  margin: 10px;
}

.comment-author {
  font-size: 1.2rem;
  display: inline;
}

.comment-content {
  font-size: 1rem;
}
