<div class="flex">
  <mat-card-title class="comments-title">Comments</mat-card-title>

  <div (keydown)="keydown($event, addComment)">
    <mat-form-field appearance="fill" floatLabel="always" class="comment-box">
      <mat-label>Comment here</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="10"
        placeholder="Type your comment here"
        [(ngModel)]="comment.content"
        name="content"
      ></textarea>
    </mat-form-field>

    <button mat-raised-button (click)="addComment()">Add Comment</button>
  </div>

  <section *ngIf="comments">
    <mat-card *ngFor="let comment of comments" class="ticket-card comment-card">
      <div class="flex-card">
        <mat-card-title class="comment-author" *ngIf="users">
          {{ getUsername(comment.authorId) }}
        </mat-card-title>

        <span class="flex-span"></span>

        <mat-card-subtitle class="comment-author">
          {{ comment.created + "Z" | date : "MMM d, y, HH:mm" }}
        </mat-card-subtitle>
      </div>

      <mat-card-content
        [innerHTML]="urlify(comment.content)"
        class="comment-content"
      >
      </mat-card-content>
    </mat-card>
  </section>
</div>
