<div>
  <h1>Projects</h1>
  <br />

  <mat-card class="card-container">
    <div class="table-container">
      <button
        *ngIf="isAdmin"
        mat-raised-button
        routerLink="/project/create"
        color="primary"
        class="new-button"
      >
        New Project +
      </button>

      <span class="flex-span"></span>

      <mat-form-field class="search-box" *ngIf="!paginationEnabled">
        <mat-label>Search</mat-label>
        <input
          matInput
          name="search"
          autocomplete="off"
          (keyup)="filter($event, dataSource)"
          #input
        />
      </mat-form-field>
      <mat-form-field class="search-box" *ngIf="paginationEnabled">
        <mat-label>Search</mat-label>
        <input
          matInput
          name="search"
          [ngModel]="filterString"
          autocomplete="off"
          (keydown.enter)="filterAPI($event)"
          #input
        />
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <table
      mat-table
      [dataSource]="dataSource"
      *ngIf="projects"
      matSort
      (matSortChange)="customSort($event)"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let project">
          {{ project.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef [hidden]="hideDescription">
          Description
        </th>
        <td mat-cell *matCellDef="let project" [hidden]="hideDescription">
          {{ project.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
        <td mat-cell *matCellDef="let project">
          {{ project.created + "Z" | date : "MMM d, y, HH:mm" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let project; columns: displayedColumns"
        routerLink="/project/{{ project.id }}"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [colSpan]="displayedColumns.length">
          No data available
        </td>
      </tr>
    </table>
    <mat-paginator
      *ngIf="totalRows > 10"
      (page)="handlePageEvent($event)"
      [length]="totalRows"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 25, 50]"
    ></mat-paginator>
  </mat-card>
</div>
