:host {
  background-color: #303030;
  color: #fff;
  display: block;
  height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.login-title {
  color: white;
  margin-top: 0px;
}
