<div class="center">
  <h2 style="color: white; margin-top: 0px">Log in</h2>

  <div (keydown)="$event.key === 'Enter' ? login() : ''">
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Email"
          [(ngModel)]="user.email"
          name="email"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          [(ngModel)]="user.password"
          name="password"
        />
      </mat-form-field>
    </p>
  </div>

  <div>
    <button type="button" mat-raised-button (click)="login()">Login</button>
  </div>
</div>
