<div *ngIf="project">
  <mat-card class="project-card">
    <mat-card-subtitle class="flex-card">
      {{ project.created + "Z" | date: "MMM d, y, HH:mm" }}
      <span class="flex-span"></span>
      <div *ngIf="users">
        {{ getUsername(project.authorId) }}
      </div>
    </mat-card-subtitle>

    <mat-card-title>
      {{ project.name }}
    </mat-card-title>

    <mat-card-content class="description">
      <p [innerText]="project.description"></p>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="flex-card">
      <button type="button" (click)="goBack()" mat-stroked-button>
        Back to list
      </button>
      <button
        *ngIf="isAdmin"
        mat-flat-button
        color="accent"
        routerLink="/project/edit/{{ project.id }}"
      >
        Edit
      </button>
      <button
        *ngIf="isAdmin"
        mat-raised-button
        color="delete"
        (click)="deleteProject()"
      >
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
