<div *ngIf="organization" class="flex">
  <div>
    <h1>{{ organization.name }}</h1>

    <dl>
      <dt>Id</dt>
      <dd>{{ organization.id }}</dd>
      <dt>Started</dt>
      <dd>{{ organization.created + "Z" | date: "medium" }}</dd>
    </dl>
  </div>

  <div>
    <button type="button" (click)="goBack()" mat-stroked-button>
      Back to list
    </button>

    <button
      mat-flat-button
      color="accent"
      routerLink="/tracker/organization/edit/{{ organization.id }}"
    >
      Edit
    </button>

    <br />

    <button mat-raised-button color="delete" (click)="deleteOrganization()">
      Delete
    </button>
  </div>
</div>
