<div *ngIf="organization" class="flex">
  <div>
    <h1>{{ organization.name }}</h1>

    <dl>
      <dt>Id</dt>
      <dd>{{ organization.id }}</dd>
      <dt i18n>Started</dt>
      <dd>{{ organization.created + "Z" | date: "medium" }}</dd>
    </dl>
  </div>

  <div class="flex">
    <div>
      <button
        mat-raised-button
        color="primary"
        routerLink="/tracker/organization/{{ organization.id }}/adduser"
        i18n>
        Add user +
      </button>

      <button
        mat-raised-button
        color="delete"
        routerLink="/tracker/organization/{{ organization.id }}/removeuser"
        i18n>
        Remove user -
      </button>
    </div>

    <div>
      <button type="button" (click)="goBack()" mat-stroked-button i18n>
        Back to list
      </button>

      <button
        mat-flat-button
        color="accent"
        routerLink="/tracker/organization/edit/{{ organization.id }}"
        i18n>
        Edit
      </button>
    </div>

    <button mat-raised-button color="delete" (click)="deleteOrganization()" i18n>
      Delete
    </button>
  </div>
</div>
