<div class="center">
  <div>
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label i18n>New password</mat-label>
        <input
          type="password"
          matInput
          placeholder="New Password"
          [(ngModel)]="newPassword"
          name="password"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label i18n>Confirm password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Confirm password"
          [(ngModel)]="newPasswordConfirm"
          name="password"
        />
      </mat-form-field>
    </p>
  </div>

  <div>
    <button type="button" mat-raised-button (click)="changePassword()" i18n>
      Change password
    </button>
  </div>
</div>
