<div
  *ngIf="ticket"
  style="display: flex; flex-direction: column; align-items: flex-start"
>
  <h1>{{ ticket.title }}</h1>
  <p>{{ ticket.description }}</p>
  <hr />
  <dl>
    <dt>Priority</dt>
    <dd>{{ ticket.priority }}</dd>
    <dt>Type</dt>
    <dd>{{ ticket.type }}</dd>
    <dt>Status</dt>
    <dd>{{ ticket.status }}</dd>
    <dt>Submitter</dt>
    <dd *ngIf="submitter">{{ submitter.email }}</dd>
    <dt>Assignee</dt>
    <dd *ngIf="assignee">{{ assignee.email }}</dd>
    <dt>Created</dt>
    <dd>{{ ticket.created + "Z" | date: "medium" }}</dd>
    <dt *ngIf="ticket.closed">Closed</dt>
    <dd *ngIf="ticket.closed">{{ ticket.closed + "Z" | date: "medium" }}</dd>
  </dl>

  <div>
    <button mat-raised-button color="primary" (click)="closeTicket()">
      {{ ticket.closed ? "Reopen" : "Close" }}
    </button>

    <button mat-raised-button color="delete" (click)="deleteTicket()">
      Delete
    </button>
  </div>

  <div>
    <button mat-stroked-button (click)="goBack()">Back to List</button>

    <button
      mat-raised-button
      color="accent"
      routerLink="/project/{{ ticket.projectId }}/ticket/edit/{{ ticket.id }}"
    >
      Edit
    </button>
  </div>

  <hr />

  <app-comments></app-comments>
</div>
