<div
  *ngIf="ticket"
  style="display: flex; flex-direction: column; align-items: flex-start"
>
  <h1>{{ ticket.title }}</h1>
  <p>{{ ticket.description }}</p>
  <hr />
  <dl>
    <dt>Priority</dt>
    <dd>{{ ticket.priority }}</dd>
    <dt>Type</dt>
    <dd>{{ ticket.type }}</dd>
    <dt>Status</dt>
    <dd>{{ ticket.status }}</dd>
    <dt>Submitter</dt>
    <dd>{{ ticket.submitter }}</dd>
    <dt>Assignee</dt>
    <dd>{{ ticket.assignee }}</dd>
    <dt>Created</dt>
    <dd>{{ ticket.created | date }}</dd>
    <dt>Closed</dt>
    <dd>{{ ticket.closed | date }}</dd>
  </dl>

  <div>
    <button mat-raised-button color="primary">Close</button>

    <button mat-raised-button color="delete" (click)="deleteTicket()">
      Delete
    </button>
  </div>

  <div>
    <button mat-stroked-button (click)="goBack()">Back to List</button>

    <button
      mat-raised-button
      color="accent"
      routerLink="/project/{{ ticket.projectId }}/ticket/edit/{{ ticket.id }}"
    >
      Edit
    </button>
  </div>

  <hr />

  <h2>Comments</h2>

  <textarea
    style="resize: both"
    placeholder="Comment here"
    rows="4"
    cols="75"
  ></textarea>

  <button mat-raised-button>Add Comment</button>
</div>
