<ng-container>
  <mat-sidenav-container>
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      [fixedInViewport]="options.value.fixed"
      [fixedTopGap]="options.value.top"
      [fixedBottomGap]="options.value.bottom"
    >
      <!--sidenav content goes here-->
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar>
        <a routerLink="/" style="color: aliceblue; text-decoration: none">
          <span>Tracker</span>
        </a>

        <button routerLink="/project" type="button" mat-button>Projects</button>

        <button type="button" mat-button [matMenuTriggerFor]="admin">
          Admin
        </button>

        <mat-menu #admin="matMenu">
          <button mat-menu-item><span>Users</span></button>
        </mat-menu>

        <button mat-button style="text-align: right">
          <span>Logout</span>
        </button>
      </mat-toolbar>

      <router-outlet></router-outlet>

      <br />
      <p>leitus</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
