<div>
  <h2>{{ edit ? "Edit " + ticket.title : "New Ticket" }}</h2>
  <div (keydown)="keydown($event, onSubmit)">
    <p>
      <mat-form-field class="title" appearance="fill" floatLabel="always">
        <mat-label i18n>Title</mat-label>
        <input matInput [(ngModel)]="ticket.title" name="title" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="description" appearance="fill" floatLabel="always">
        <mat-label i18n>Description</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="10"
          placeholder="Ticket description"
          [(ngModel)]="ticket.description"
          name="description"
        ></textarea>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label i18n>Priority</mat-label>
        <mat-select [(ngModel)]="ticket.priority" [(value)]="ticket.priority">
          <mat-option
            [value]="priority.value"
            *ngFor="
              let priority of [
                { value: 1, title: 'Low' },
                { value: 2, title: 'Medium' },
                { value: 3, title: 'High' },
                { value: 4, title: 'Urgent' },
                { value: 5, title: 'Critical' }
              ]
            "
            [(ngModel)]="ticket.priority"
            name="priority"
            ngDefaultControl
            >{{ priority.title }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </p>
    <p *ngIf="types">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label i18n>Type</mat-label>
        <mat-select [(value)]="ticket.type">
          <mat-option
            [value]="type"
            *ngFor="let type of types"
            [(ngModel)]="ticket.type"
            name="type"
            ngDefaultControl
            >{{ type }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </p>
    <p *ngIf="users">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label i18n>Assignee</mat-label>
        <input
          type="text"
          placeholder="Assignee"
          name="assignee"
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="ticket.assigneeId"
          (ngModelChange)="filter($event)"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn.bind(this)"
        >
          <mat-option *ngFor="let user of filteredUsers" [value]="user.id">
            {{ user.username }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>
  </div>
</div>

<div class="flex">
  <button type="button" mat-raised-button (click)="onSubmit()">
    {{ edit ? "Update" : "Create" }}
  </button>

  <button type="button" (click)="goBack()" mat-stroked-button i18n>Back</button>
</div>
