<ng-container>
  <div>
    <mat-toolbar>
      <a routerLink="/tracker" class="org-title">
        <span>Tracker Admin</span>
      </a>

      <button routerLink="/tracker/organization" type="button" mat-button>
        Organizations
      </button>

      <button routerLink="/tracker/user" type="button" mat-button>Users</button>

      <span class="flex-span"> </span>

      <button mat-button routerLink="/tracker/account">User</button>

      <button mat-button routerLink="/login" (click)="logout()">Logout</button>
    </mat-toolbar>

    <div class="app">
      <router-outlet></router-outlet>

      <br />
      <footer>
        <p>leitus</p>
      </footer>
    </div>
  </div>
</ng-container>
