<div *ngIf="isAdmin">
  <h2>New user</h2>
  <div *ngIf="!created">
    <div (keydown)="keydown($event, createUser)">
      <p>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Email</mat-label>
          <input
            matInput
            autocomplete="off"
            type="email"
            placeholder="Email"
            [(ngModel)]="userNew.email"
            name="email"
            required
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Password</mat-label>
          <input
            matInput
            autocomplete="off"
            type="password"
            placeholder="Password"
            [(ngModel)]="userNew.password"
            name="password"
            required
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            autocomplete="off"
            type="password"
            placeholder="Password"
            [(ngModel)]="userNew.passwordConfirm"
            name="passwordConfirm"
            required
          />
        </mat-form-field>
      </p>
    </div>
    <div>
      <button type="button" mat-raised-button (click)="createUser()">
        Create user
      </button>

      <button
        type="button"
        mat-raised-button
        routerLink="{{
          path === 'tracker' ? '/tracker/user/' : '/admin/user/'
        }}"
      >
        Back
      </button>
    </div>
  </div>
  <div *ngIf="created" class="flex">
    <p>An confirmation email has been sent to {{ userNew.email }}</p>

    <button
      type="button"
      mat-raised-button
      routerLink="{{ path === 'tracker' ? '/tracker/user/' : '/admin/user/' }}"
    >
      Back
    </button>
  </div>
</div>
