/* You can add global styles to this file, and also import other style files */
// Import material theming functions
@import "@angular/material/theming";

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-purple);
$app-accent: mat-palette($mat-green);
$app-warn: mat-palette($mat-red);
$app-pink: mat-palette($mat-pink);
$app-blue: mat-palette($mat-blue);
$app-light-blue: mat-palette($mat-light-blue);
$app-grey: mat-palette($mat-grey);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$pink: mat-color($app-pink);
$blue: mat-color($app-blue);
$light-blue: mat-color($app-light-blue);
$grey: mat-color($app-grey);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
  margin-top: 10px;
}

.mat-header-row {
  user-select: none;
}

.card-container {
  background-color: #363636;
}

.mat-row:hover {
  background-color: grey;
  border-style: solid;
  border-width: 1px;
  border-color: #7b1fa2;
  cursor: pointer;
}

.mat-row {
  height: 50px;
}

.mat-cell {
  padding: 10px 10px 10px 0;
}

.mat-delete {
  background-color: red;
  color: #fff;
}

button {
  margin: 10px !important;
}

.mat-menu-item {
  margin: 0px !important;
}

a {
  color: $light-blue;
}
a:visited {
  color: $pink;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table-container {
  display: flex;
}

.flex-span {
  flex: 1 1 auto;
}

.flex-card {
  display: flex !important;
}

.search-box {
  min-width: 88px;
  width: 180px;
}

.new-button {
  min-width: 120px !important;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #eee;
}

.mat-input-element {
  caret-color: #eee;
}

.trash {
  color: red;
}

.trash:hover {
  color: darkred;
  cursor: pointer;
}
