/* You can add global styles to this file, and also import other style files */
// Import material theming functions
@import "~@angular/material/theming";

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-purple);
$app-accent: mat-palette($mat-green);
$app-warn: mat-palette($mat-red);
$app-pink: mat-palette($mat-pink);
$app-blue: mat-palette($mat-blue);
$app-light-blue: mat-palette($mat-light-blue);
$app-grey: mat-palette($mat-grey);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$pink: mat-color($app-pink);
$blue: mat-color($app-blue);
$light-blue: mat-color($app-light-blue);
$grey: mat-color($app-grey);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-delete {
  background-color: red;
  color: #fff;
}

button {
  margin: 10px !important;
}

.mat-menu-item {
  margin: 0px !important;
}

a {
  color: $light-blue;
}
a:visited {
  color: $pink;
}
