<div style="display: flex; flex-direction: column; align-items: flex-start">
  <h2>Claims</h2>
  <dt>Email</dt>
  <dd>
    {{
      claims[
        "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"
      ]
    }}
  </dd>
  <dt>Username</dt>
  <dd>
    {{
      claims[
        "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
      ]
    }}
  </dd>
  <dt>Roles</dt>
  <dd>
    {{ claims["http://schemas.microsoft.com/ws/2008/06/identity/claims/role"] }}
  </dd>
  <dt>isAdmin</dt>
  <dd>{{ isAdmin }}</dd>
  <dt>isDev</dt>
  <dd>{{ isDev }}</dd>
  <dt>isUser</dt>
  <dd>{{ isUser }}</dd>
</div>
