<div style="display: flex; flex-direction: column; align-items: flex-start">
  <h2>Comments</h2>

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Comment here</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="5"
      cdkAutosizeMaxRows="10"
      placeholder=":3"
      [(ngModel)]="comment.content"
      name="content"
    ></textarea>
  </mat-form-field>

  <button mat-raised-button (click)="addComment()">Add Comment</button>

  <section>
    <div *ngFor="let comment of comments">
      <h5 style="display: inline">{{ comment.authorId }}</h5>
      <p style="display: inline">- {{ comment.created | date: "medium" }}</p>
      <p [innerText]="comment.content"></p>
    </div>
  </section>
</div>
